@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Atkinson Hyperlegible Next", serif;
}
html {
  font-size: 82.5%;
  font-family: "Manrope", sans-serif;
}
.main-container {
  border: 5px solid #aaa;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-container {
  width: 100%;
  height: 8em;
  padding: 2.5em;
  background-color: #7886c7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}
.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55em;
}
.nav-items li {
  list-style: none;
}
.nav-links {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  color: #000b58;
}
.logo-wrapper {
  width: 6em;
}
.logo-wrapper img {
  width: 100%;
}
.nav-icons {
  width: 15em;
  display: flex;
  justify-content: space-between;
}
.fa-user,
.fa-right-to-bracket {
  font-size: 2rem;
  color: black;
  cursor: pointer;
}
.form-wrapper {
  display: flex;
  align-items: center;
  margin-top: 3em;
  gap: 2em;
}
.input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  max-width: 280px;
  border: none;
  border-bottom: 5px solid #a9b5df;
  background: transparent;
  outline: none;
  color: #2d336b;
  font-size: 1.8rem;
  font-weight: 600;
}
button {
  border: none;
  border-radius: 50%;
  padding: 0.5em;
}
.fa-plus {
  color: #7886c7;
  font-weight: 600;
  font-size: 4rem;
  cursor: pointer;
}
.task-wrapper {
  width: 100%;
  max-width: 60em;
  min-height: 25em;
  margin-top: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.2em;
}
.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 35em;
  height: 5em;
  padding: 1em;
  background-color: #ececec;
  border-radius: 5px;
  text-decoration: none;
  list-style-type: none;
}
.task p {
  font-weight: 600;
  font-size: 1.2rem;
  color: #133e87;
}
.task-icon-wrapper {
  width: 100%;
  max-width: 8em;
  display: flex;
  justify-content: space-between;
}
.fa-pen,
.fa-circle-check,
.fa-trash-can {
  font-size: 1.4em;
  color: #242a2e;
  cursor: pointer;
}
.all-task-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.error-message {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ff4545;
  font-weight: 700;
}
